body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.headline {
  font-size: 28px;
  color: $dark-brown;
  font-size: 28px;
  position: relative;
  text-align: center;
  top: -15px;
}

.rockett-bold {
  font-family: 'Rokkitt', Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

.item-name,
.item-trail {
  font-size: 15px;
  font-weight: 600;
}

.item-meta,
.text-small {
  font-size: 13px;
  font-weight: 400;
}
.text-extra-small {
  font-size: 11px;
}

.item-count {
  font-style: italic;
}