$header-height: 70px;
$marey-chart-height: 120px;
$flow-map-height: 180px;
$map-height: 450px;
$component-header-height: 22px;
$flow-map-margin-top: 10px;


// Colors
$oregon: #6F6D29;
$california: #EBA50E;
$mormon: #3B4887;

$light-brown: #EDE8E0;
$medium-brown: #dcd3c6;
$dark-brown-50alpha: #8A817A;
$dark-brown:#3e3531;

$medium-grey: #8b8683;
