.flow-map {
  position: relative;
  height: 100%;
}


.flow-map path.flow {
  stroke: #777;
  stroke-opacity: 1;
  stroke-linecap: round;
  fill: none;
  opacity: 0.6;
}

.flow-map .state-label {
  font-size: 13px;
  fill: #000;
}

.flow-map path.flow.oregon {
  stroke: $oregon;
}

.flow-map .flow-label.oregon {
  color: $oregon;
}

.flow-map path.flow.mormon {
  stroke: $mormon;
}

.flow-map .flow-label.mormon  {
  color: $mormon;
}

.flow-map path.flow.california {
  stroke: $california;
}

.flow-map .flow-label.california {
  color: $california;
}




.flow-label {
  background: transparent;
  background-clip: padding-box;
  border: none;
  color: #111;
  display: block;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1px 6px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  white-space: nowrap;
  z-index: 6;
}

.leaflet-label.leaflet-clickable {
  cursor: pointer;
  pointer-events: auto;
}
