.flow-map {
  position: relative;
  height: 100%;
}

.flow-map .graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.flow-map .land {
  stroke: #d0d0d0;
  fill: #e6e6e6;
}

.flow-map .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.flow-map path.flow {
  stroke: #777;
  stroke-linecap: round;
  fill: none;
  opacity: 0.6;
}

.flow-map .state-label {
  font-size: 13px;
  fill: #000;
}

.flow-map path.flow.oregon {
  stroke: #cd5640;
}

.flow-map .state-label.oregon {
  fill: #cd5640;
}

.flow-map path.flow.utah {
  stroke: #505c64;
}

.flow-map .state-label.utah  {
  fill: #505c64;
}

.flow-map path.flow.california {
  stroke: #fba10a;
}

.flow-map .state-label.california {
  fill: #fba10a;
}