.list-view {
  position: relative;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.list-view-wrapper {
  height: 100%;
  overflow: scroll;
}

.list-view-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-group-item {
  position: relative;
  padding: 10px;
  background-color: white;
  margin-bottom: 1px;
}
.list-group-item:last-child {
  margin-bottom: 0;
}

.item-name {
  font-weight: bold;
}

.list-group-disabler {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  z-index: 2;
  pointer-events: none;
  cursor: default !important;
}

.trail-show-oregon-trail .list-view-wrapper .california-trail .list-group-disabler,
.trail-show-oregon-trail .list-view-wrapper .mormon-trail .list-group-disabler {
  display: block;
}

.trail-show-california-trail .list-view-wrapper .oregon-trail .list-group-disabler,
.trail-show-california-trail .list-view-wrapper .mormon-trail .list-group-disabler {
  display: block;
}

.trail-show-mormon-trail .list-view-wrapper .california-trail .list-group-disabler,
.trail-show-mormon-trail .list-view-wrapper .oregon-trail .list-group-disabler {
  display: block;
}
