.marey-chart {
  position: relative;
  height: 100%;
}
.marey-chart .axis path,
.marey-chart .axis line {
  fill: none;
}
.marey-chart .axis path {
  stroke: none;
}
.marey-chart .axis line {
  stroke: #d0d0d0;
}
.marey-chart text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #d0d0d0;
}
.marey-chart circle.dot {
  fill: #222;
  opacity: 0.6;
}
.marey-chart path.journey {
  fill: none;
  stroke-opacity: 0.8;
  stroke-width: 1.5px;
}