.milestones-layer {
  z-index: 1000;
}

.milestones-layer svg {
  overflow: visible;
}

.milestone-label {
  font-weight: bold;
}
.milestone-icon {

}
.milestone-line {
  stroke-width: 1;
  stroke: black !important;
  fill: none !important;
}

.fort {
  fill: brown;
}
.place {
  fill: black;
}
.natural {
  fill: green;
}
