#map-wrapper .button-group {
  position: absolute;
  top: 0;
  right: 0;
}

button[data-trail="all"] {
  @include background-opacity(#666, 0.8);
}

button[data-trail="or"] {
  @include background-opacity($oregon, 0.8);
}

button[data-trail="ca"] {
  @include background-opacity($california, 0.8);
}

button[data-trail="ut"] {
  @include background-opacity($mormon, 0.8);
}
