#map-wrapper .button-group {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.button-group button {
  color: #fff;
}
button[data-trail="all"] {
  @include background-opacity(#3E3531, 1);
}

button[data-trail="oregon-trail"] {
  @include background-opacity($oregon, 1);
}

button[data-trail="california-trail"] {
  @include background-opacity($california, 1);
}

button[data-trail="mormon-trail"] {
  @include background-opacity($mormon, 1);
}
